<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/phpunit/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         executionOrder="depends,defects">
  <testsuites>
    <testsuite name="HTMLSignage API">
      <directory suffix="Test.php">tests/phpunit</directory>
    </testsuite>
  </testsuites>
</phpunit>
