@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-spa-bg-primary text-spa-text-primary antialiased;
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
